<%= render "shared/mypage_header"%>
<div class="user-show-main">
  <div class="show-contents">
    <div class="user-show-content">
      <div class="user-image-content">
        <% if @user.image.blank? %>
          <%= image_tag "user_icon.png", class: "user-image" %>
        <% else %>
          <%= image_tag @user.image, class: "user-image" if @user.image.attached? %>
        <% end %>
      </div>
      <div class="post-container">
        <p class="user-nickname"><%= @user.nickname %></p>
      </div>
    </div>
  </div>
  <div class="post-content">
    <h2 class="title">Post List</h2>
    <ul class="post-lists">
      <% @posts.each do |post|%>
        <li class="list">
          <%= link_to post_path(post.id), method: :get do %>
            <div class="post-image-content">
              <% if post.user_id == current_user.id %>
                <%= image_tag post.image, class: "post-image" if post.image.attached?%>
              <% end %>
            </div>
          <% end %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>
