<%= render "shared/header"%>
<div class="main">

  <div class="notifications">
    <div class="notice"><%= flash[:message] %></div>
  </div> 
  <%# 投稿表示 %>
  <div class="post-content">
    <h2 class="title">Post List</h2>
    <ul class="post-lists">
      <% @posts.each do |post|%>
        <li class="list">
          <%= link_to post_path(post.id), method: :get do %>
            <div class="post-image-content">
              <%= image_tag post.image, class: "post-image" if post.image.attached?%>
            </div>
          <% end %> 
            <div class="post-info">
              <h3 class="post-title">
                <%= post.title%>
              </h3>
            </div>
        </li>
      <% end %>
    </ul>
  </div>

  <%# ダミー画像 %>
  <% if @posts.blank? %>
    <div class="post-lists">
      <div class="list">
        <div class="img">
          <img src="https://images.unsplash.com/photo-1496284427489-f59461d8a8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9">
        </div>
        <div class="post-info">
          <h3 class="post-title">
            The title will be include
          </h3>
        </div>
      </div>
      <div class="list">
        <div class="img">
          <img src="https://images.unsplash.com/photo-1496284427489-f59461d8a8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9">
        </div>
        <div class="post-info">
          <h3 class="post-title">
            The title will be include
          </h3>
        </div>
      </div>
      <div class="list">
        <div class="img">
          <img src="https://images.unsplash.com/photo-1496284427489-f59461d8a8e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9">
        </div>
        <div class="post-info">
          <h3 class="post-title">
            The title will be include
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>