<%= render "shared/second_header"%>
<div class="show-main">
  <div class="show-contents">
    <div class="show-content">
      <div class="post-image-content">
        <%= image_tag @post.image, class: "post-image"%>
      </div>
      <%# タグの表示 %>
      <div class="post-tag-content">
        <div class="post-tag">
          <%@post.tags.each do |tag| %>
            #<%=tag.name%>
          <%end%>
        </div>
      </div>  
      <div class="post-container">
        <p class="post-title"><%= @post.title %></p>
        <p class="post-text-box"><%= @post.text %></p>
      </div>
      <div class="comment-lists">
          <p>＜comment list＞</p>
          <% if @comments %>
            <% @comments.each do |comment| %>
              <p class="comment-list">
                <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                <%= comment.comment %>
              </p>
            <% end %>
          <% end %>
      </div>
      <div class="comment-form-content">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], local: true do |f| %>
            <p><%= f.text_field :comment , class: "comment-form", placeholder: "comment" %></p>
            <p><%= f.submit "SEND", class: "comment-btn" %></p>
          <% end %>
        <% end %>
      </div>  
    </div>
</div>